body, html{
  height:100%;
}
body{
  margin: 0px;
  background: url("img/dancefloor.jpeg") no-repeat center center fixed;
  background-size: cover;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.spongebob{
  position:absolute;
}
.spongebob img{
  width: 200px;
  height: auto;
}
.shrinkyDancer{
  animation-duration: 2s;
  animation-name: grow;
  position:absolute;
}
.shrinkyDancer img{
  width: 200px;
  height: auto;
}
@keyframes shrink {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.25);
  }
}
@keyframes grow {
  from {
    transform: scale(0.25);
  }
  to {
    transform: scale(1);
  }
}
.slidingDancer{
  animation-duration: 2s;
  animation-name: right;
  position: absolute;
}
.slidingDancer img{
  width: 200px;
  height: auto;
}
@keyframes right {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
@keyframes left {
  from {
    margin-left: 0%;
    width: 100%;
  }
  to {
    margin-left: 100%;
    width: 300%;
  }
}